body {
  margin: 0;
  font-family: "Inter", system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1080px;
  margin: 50px auto 0;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}
header {
  display: flex;
  justify-content: space-between;
  outline: none;
  padding: 40px;
  border-bottom: 1px solid #eaeaea;
  img {
    margin-right: 15px;
  }

  .headerLeft {
    display: flex;
    align-items: center;

    h3,
    p {
      margin: 0;
    }
    .headerText {
      opacity: 0.5;
    }
  }
  .headerRight {
    display: flex;
    align-items: bottom;
    margin: 0;
    padding: 0;
    li {
      display: flex;
      align-items: center;
      list-style-type: none;
      margin-right: 30px;
    }
  }
}

.content {
  padding: 40px;
  h1 {
    margin: 0 0 40px 0;
  }
  .sneakers {
    display: flex;

    .card {
      border: 1px solid #f3f3f3;
      padding: 30px;
      width: 160px;
      border-radius: 40px;
      margin-right: 30px;
      span {
        font-size: 12px;
        opacity: 0.5;
        text-transform: uppercase;
      }
      b {
        font-size: 13px;
      }
      h5 {
        font-weight: 400;
        font-size: 14px;
      }
      .cardBottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .cardPrice {
          display: flex;
          flex-direction: column;
        }
        .button {
          background: #ffffff;
          border: 1px solid #f2f2f2;
          box-sizing: border-box;
          border-radius: 8px;
          height: 32px;
          width: 32px;
          cursor: pointer;
        }
      }
    }
  }
}
