body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  font-family: "Inter", system-ui;
  box-sizing: border-box;
}
p,
b,
ul {
  padding: 0;
  margin: 0;
}
.wrapper {
  max-width: 1080px;
  margin: 50px auto 0;
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.drawer {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  padding: 30px;
  background: #ffffff;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  .items {
    overflow: auto;
    margin-bottom: 40px;
    flex: 1;
  }
  h2 {
    margin-bottom: 30px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    img {
      cursor: pointer;
    }
  }
  .cartItem {
    display: flex;
    align-items: center;
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;
    margin-bottom: 20px;
    .cartItemImg {
      height: 70px;
      width: 70px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 0 10px;
      margin-right: 20px;
    }
    .cartInfo {
      display: flex;
      flex-direction: column;
      margin-right: 20px;
      p {
        font-size: 16px;
      }
      b {
        font-size: 14px;
      }
    }
    .removeBtn {
      opacity: 0.5;
      cursor: pointer;
      transition: opacity 0.2 ease-in-out;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.cartTotalBlock {
  ul {
    display: block;
    margin-bottom: 40px !important;
  }
  li {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    div {
      flex: 1;
      height: 1px;
      border-bottom: 1px dashed #dfdfdf;
      position: relative;
      top: -4px;
      margin: 0 7px;
    }
  }
  .greenButton {
    position: relative;
    &:hover {
      img {
        transform: translateX(5px);
      }
    }
    img {
      position: absolute;
      right: 30px;
      top: 20px;
      transition: transform 0.2s ease-in-out;
    }
  }
}
.greenButton {
  width: 100%;
  height: 55px;
  border: 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  background: #9dd558;
  border-radius: 18px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  &:hover {
    background: lighten(#9dd558, 5%);
  }
  &:active {
    background: darken(#9dd558, 5%);
  }
}
header {
  display: flex;
  justify-content: space-between;
  outline: none;
  padding: 40px;
  border-bottom: 1px solid #eaeaea;
  img {
    margin-right: 15px;
  }
  .headerLeft {
    display: flex;
    align-items: center;

    h3,
    p {
      margin: 0;
    }
    .headerText {
      opacity: 0.5;
    }
  }
  .headerRight {
    display: flex;
    align-items: bottom;
    margin: 0;
    padding: 0;
    li {
      display: flex;
      align-items: center;
      list-style-type: none;
      margin-right: 30px;
    }
  }
}

.content {
  padding: 40px;
  .nav {
    display: flex;
    margin-bottom: 40px;
    justify-content: space-between;
    align-items: center;

    .search {
      border: 1px solid #f3f3f3;
      align-items: center;
      border-radius: 10px;
      padding: 0 15px;
      input {
        border: 0;
        padding: 13px;
        font-size: 16px;
        width: 200px;
        outline: none;
      }
    }
  }
  .sneakers {
    display: flex;
  }
}
.card {
  border: 1px solid #f3f3f3;
  padding: 30px;
  width: 220px;
  border-radius: 40px;
  margin-right: 30px;
  transition: box-shadow 0.2s ease-in-out transform 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
    transform: translateY((-5px));
  }
  .favourite {
    position: absolute;
    cursor: pointer;
  }
  span {
    font-size: 12px;
    opacity: 0.5;
    text-transform: uppercase;
  }
  b {
    font-size: 13px;
  }
  h5 {
    font-weight: 400;
    font-size: 14px;
  }
  .cardBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .cardPrice {
      display: flex;
      flex-direction: column;
    }
    .button {
      background: #ffffff;
      border: 1px solid #f2f2f2;
      box-sizing: border-box;
      border-radius: 8px;
      height: 32px;
      width: 32px;
      cursor: pointer;
    }
  }
}
